/* general setting */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}



/* UTILITTIES */

/* typo */

a{
 color: #80808061;
 text-decoration: none;
}

/* layout */

.m-right-30{
  margin-right: 30px;
}

.color-black{
  color: black;
}

.m-left-30{
  margin-left: 30px;
}

/* header */

.header-main{
  display: flex;
  width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 30px;
}

/* nav-right */

.logo{
  width: 100px;
  height: auto;
}

.list-right{
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* nav-left */

.list-left{
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.box{
  display: flex;
  padding-bottom: 20px;
  padding-left: 15px;
}

.beta{
  align-self: flex-end;
}

.nav-left .with-dropwon{
  position: relative;
}
.nav-left .dropdown-menu{
 position: absolute;
 top: 100%;
 margin-top: 30px;
 width: 300px;
 padding-bottom: 30px;
}
